html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
}

.login-form-wrapper {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    border: solid 1px;
    border-color: #f3f3f3 #cccccc #b6b6b6;
    border-radius: 3px;
    position: relative;
    width: 465px;
}
.login-form-wrapper h1 {
    color: #e0401d;
    border: solid #e0401d;
    border-width: 0 0 0 3px;
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    left: -1px;
    margin: 40px 0 60px;
    padding: 15px 57px;
    position: relative;
    text-transform: uppercase;
}
.login-form-wrapper .form-body {
    padding: 0 60px 60px;
}
.login-form-wrapper .form-body .fieldset {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
    position: relative;
    width: 100%;
}
.login-form-wrapper .form-body .fieldset input {
    border: solid #e8e8e8;
    border-width: 0 0 1px 0;
    box-sizing: border-box;
    color: #33414e;
    font-size: 24px;
    outline: none;
    padding: 15px 0;
    width: 100%;
}
.login-form-wrapper .form-body .fieldset input:focus ~ label,
.login-form-wrapper .form-body .fieldset input:valid ~ label {
    color: #b8cfe4;
    font-size: 18px;
    top: -35px;
}
.login-form-wrapper .form-body .fieldset input:focus ~ .highlighter,
.login-form-wrapper .form-body .fieldset input:valid ~ .highlighter {
    width: 100%;
    left: 0;
}
.login-form-wrapper .form-body .fieldset label {
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    color: #33414e;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.login-form-wrapper .form-body .fieldset .highlighter {
    height: 1px;
    width: 0;
    position: relative;
    left: 50%;
    background-color: #33414e;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.login-form-wrapper .form-body .fieldset .error-message {
    color: #e0401d;
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    width: 100%;
}
.login-form-wrapper .form-body .fieldset:first-child {
    margin-top: 0px;
}
.login-form-wrapper .form-body .fieldset.invalid .highlighter {
    background-color: #e0401d;
}
.login-form-wrapper .form-body input[type="submit"] {
    background-color: #fff;
    border: 2px solid #e3e3e3;
    color: #e3e3e3;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    left: 50%;
    line-height: 1;
    margin-left: -120px;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    width: 240px;
}
.login-form-wrapper .form-body input[type="submit"]:hover {
    border-color: #e0401d;
    color: #e0401d;
}
.login-form-wrapper .form-body input[type="submit"]:active {
    background-color: #e0401d;
    border-color: #e0401d;
    color: #fff;
}
